<!DOCTYPE html>
<html ng-app="ListaAlu">
<head>
    <meta charset="UTF-8">
    <title>Hola Món en AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
    <div ng-app="ListaAlu" ng-controller="myCtrl">
    <h1>Hola {{DNIalu}}</h1>
    <h1>Hola {{NOMalu}}</h1>
    <h1>Hola {{APEalu}}</h1>
    <h1>Hola {{CORREOalu}}</h1>
    <h1>Hola {{NOTAalu}}</h1>

    <form  ng-submit="agregar()">
        <div id="formularioT"> <h1>Lista de alumnos</h1> </div>                   
        <div id="inicio"> <p>DNI del alumno: <br> <input type="text" ng-model="DNIalu" required="required" id="DNIalu"></p> </div>
        <div id="nomALU"> <p>Nombre del alumno: <br> <input type="text" ng-model="NOMalu"required="required" id="NOMalu"></p> </div>
        <div id="apeALU"> <p>Apellidos del alumno: <br> <input type="text" ng-model="APEalu"required="required" id="APEalu"></p> </div>
        <div id="correoALU"> <p>Correo del alumno: <br> <input type="email" ng-model="CORREOalu"required="required" id="CORREOalu"></p> </div>
        <div id="nota"> <p>Nota del alumno: <br> <input type="number" ng-model="NOTAalu"required="required" value=0 min="0" step=1 id="NOTAalu"></p></div>
        <div class="container">
            <div style="text-align:center;"><input class="btn btn-default btn-lg active" type="submit" value="Añadir"></div>
        </div>
    </form>
    </div>
    <div>
            <table class="table">
                    <thead>
                       <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Apellidos</th>
                          <th>Corre Electrónico</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="item in lista">
                          <td style="cursor: not-allowed;">{{$index + 1}}</td>
                          <td>{{NOMalu}}</td>
                          <td>{{APEalu}}</td>
                          <td>{{CORREOalu}}</td>
                          <td editable-td row="{{$index}}" field="nombres">
                    {{item.nombres}}
                 </td>
                       </tr>
                    </tbody>
                 </table>
                  
    </div>
    <script>
        var app = angular.module("ListaAlu",[]);
        app.controller("myCtrl",function ($scope) {
        $scope.DNIalu = "";
        $scope.NOMalu = "";
        $scope.APEalu = "";
        $scope.CORREOalu = "";
        $scope.NOTAalu = "";
        
        });

        app.directive('editableTd', [function() {
   return {
      restrict: 'A',
      link: function(scope, element, attrs) {
         element.css("cursor", "pointer");
         element.attr('contenteditable', 'true'); // Referencia: Inciso 1
         element.bind('blur keyup change', function() { // Referencia: Inciso 2
            scope.lista[attrs.row][attrs.field] = element.text();
         });
         element.bind('click', function() { // Referencia: Inciso 3
            document.execCommand('selectAll', false, null)
         });
      }
   };
}]);

$scope.eliminar = function(row) {
   if (confirm("¿Seguro que desea eliminar?")) {
      $scope.lista.splice(row, 1);
   }
};
$scope.agregar = function() {
   $scope.lista.push({
    NOMalu: '',
    APEalu: '',
    CORREOalu: ''
})};


</script>
    
    
</html>
